<h1>Editar livro: </h1>
<form action="" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título" value="{{info.title}}">
    </div>
    <div class="form-control">
        <label for="pageqty">Título:</label>
        <input type="number" name="pageqty" placeholder="Quantas páginas o livro tem?" value="{{info.pageqty}}">
    </div>
    <input type="submit" value="Editar">
</form>